.srikar{
background-color:lavender;
border:1px solid black;
width:600px;
height:500px;
}
.sri1{
	background-color:red;
	width:150px;
	float:left;
	height:300px;
	margin-bottom:100px;
}
.sri2{
	background-color:red;
	width:300px;
	float:left;
	height:500px;
	
}
	.sri3{
	background-color:red;
	width:150px;
	float:left;
	height:300px;
	margin-bottom:100px;
	}
	
